flows.json
[{"id":"861eeaea.df9768","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1bf88f31.4dcfb1","type":"ibmiot in","z":"861eeaea.df9768","authentication":"apiKey","apiKey":"c41ce9f1.b58b88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"8788","applicationId":"","deviceType":"Asish","eventType":"+","commandType":"cmd","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":180,"wires":[["78174890.3bd158","944f7b74.42aa08","ab81d86d.0e1f88"]]},{"id":"ab81d86d.0e1f88","type":"function","z":"861eeaea.df9768","name":"Pulse","func":"msg.payload=msg.payload.pulse\nglobal.set('p',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["25b57dd.03c8c82","5eef8bf2.d53df4","a215acea.1556"]]},{"id":"944f7b74.42aa08","type":"function","z":"861eeaea.df9768","name":"BP","func":"msg.payload=msg.payload.BP\nglobal.set('b',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":220,"wires":[["25b57dd.03c8c82","bb3bb383.33e83","a215acea.1556"]]},{"id":"78174890.3bd158","type":"function","z":"861eeaea.df9768","name":"Temperature","func":"msg.payload=msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["25b57dd.03c8c82","4383da04.009794","a215acea.1556"]]},{"id":"25b57dd.03c8c82","type":"debug","z":"861eeaea.df9768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":160,"wires":[]},{"id":"bb3bb383.33e83","type":"ui_gauge","z":"861eeaea.df9768","name":"","group":"fb37d9ac.919728","order":2,"width":6,"height":7,"gtype":"compass","title":"BP","label":"units","format":"{{value}}","min":"50","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":300,"wires":[]},{"id":"5eef8bf2.d53df4","type":"ui_chart","z":"861eeaea.df9768","name":"","group":"fb37d9ac.919728","order":4,"width":6,"height":4,"label":"Pulse","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":360,"wires":[[]]},{"id":"4383da04.009794","type":"ui_gauge","z":"861eeaea.df9768","name":"","group":"fb37d9ac.919728","order":3,"width":6,"height":7,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"-20","max":"125","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":220,"wires":[]},{"id":"eb9e2a9.32dd8d8","type":"ibmiot out","z":"861eeaea.df9768","authentication":"apiKey","apiKey":"c41ce9f1.b58b88","outputType":"cmd","deviceId":"8788","deviceType":"Asish","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":460,"wires":[]},{"id":"c9b2ce74.170b5","type":"http in","z":"861eeaea.df9768","name":"","url":"userdata","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["eb9e2a9.32dd8d8","8dc2ed41.657c5","da2f72ce.2618f"]]},{"id":"df2a5ff5.e73f6","type":"http response","z":"861eeaea.df9768","name":"","statusCode":"","headers":{},"x":530,"y":560,"wires":[]},{"id":"8dc2ed41.657c5","type":"debug","z":"861eeaea.df9768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":520,"wires":[]},{"id":"da2f72ce.2618f","type":"function","z":"861eeaea.df9768","name":"","func":"msg.payload = {\"temp\": global.get('t'),\"bp\": global.get('b'),\"pulse\": global.get('p')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":540,"wires":[["df2a5ff5.e73f6"]]},{"id":"a1a755e8.651408","type":"cloudant out","z":"861eeaea.df9768","name":"","cloudant":"","database":"health monitor","service":"node-red-serzv-2021--cloudant-1625821036104-39083","payonly":false,"operation":"insert","x":760,"y":480,"wires":[]},{"id":"a215acea.1556","type":"function","z":"861eeaea.df9768","name":"","func":"msg.payload = {\"temp\": global.get('t'),\"bp\": global.get('b'),\"pulse\": global.get('p')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":420,"wires":[["a1a755e8.651408"]]},{"id":"c41ce9f1.b58b88","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fb37d9ac.919728","type":"ui_group","name":"health","tab":"f5a2a38a.937e4","order":1,"disp":true,"width":"25","collapse":false},{"id":"f5a2a38a.937e4","type":"ui_tab","name":"health monitor","icon":"dashboard","disabled":false,"hidden":false}]