flows (2).json
[{"id":"5393f26a.3bc93c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"7aaf6790.361908","type":"debug","z":"5393f26a.3bc93c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":120,"wires":[]},{"id":"6abafe87.a244c","type":"function","z":"5393f26a.3bc93c","name":"pre-token","func":"global.set(\"yrs\",msg.payload.Age)\nglobal.set(\"tmp\",msg.payload.Temperature)\nglobal.set(\"sys\",msg.payload.Systolic)\nglobal.set(\"dis\",msg.payload.Diastolic)\nglobal.set(\"pul\",msg.payload.Pulse)\nvar apikey=\"sK1KGB_o8tNnAEU1ub4JJsskOFRfNjj01JZdqMX0HemA\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":200,"wires":[["bf148971.f04be8"]]},{"id":"bf148971.f04be8","type":"http request","z":"5393f26a.3bc93c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":244.00000286102295,"wires":[["908f6e86.d37e7"]]},{"id":"908f6e86.d37e7","type":"function","z":"5393f26a.3bc93c","name":"Pre Prediction","func":"var yrs = global.get(\"yrs\")\nvar tmp = global.get(\"tmp\")\nvar sys = global.get(\"sys\")\nvar dis = global.get(\"dis\")\nvar pul = global.get(\"pul\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\",\"Pulse\"]],\"values\": [[yrs,tmp,sys,dis,pul]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":604.0000076293945,"y":196.0000021457672,"wires":[["6d08ac85.b9b084"]]},{"id":"6d08ac85.b9b084","type":"http request","z":"5393f26a.3bc93c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/51e6ab37-2ba9-4733-9d98-0f8bfeac1cbc/predictions?version=2021-08-05","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":220,"wires":[["154285d2.752f8a"]]},{"id":"154285d2.752f8a","type":"function","z":"5393f26a.3bc93c","name":"Parsing","func":"var Age = global.get(\"yrs\")\nvar Temperature = global.get(\"tmp\")\nvar Systolic = global.get(\"sys\")\nvar Diastolic = global.get(\"dis\")\nvar Pulse = global.get(\"pul\")\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",output)\nmsg.payload={\n    details: {\n        health: {\n            age: Age,\n            temperature : Temperature,\n            systolic: Systolic,\n            diastolic: Diastolic,\n            pulse: Pulse,\n            output: output\n            \n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":659.6000595092773,"y":128.00000190734863,"wires":[["f8913049.2a3c6","3f98021d.5797be"]]},{"id":"c942bd62.480d6","type":"ibmiot in","z":"5393f26a.3bc93c","authentication":"apiKey","apiKey":"c41ce9f1.b58b88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"8788","applicationId":"","deviceType":"Asish","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":120,"wires":[["7aaf6790.361908","6abafe87.a244c"]]},{"id":"f8913049.2a3c6","type":"ui_template","z":"5393f26a.3bc93c","group":"fb37d9ac.919728","name":"","order":22,"width":0,"height":0,"format":"<div layout=\"row\" laout.align=\"start center\">\n    <span flex>Age</span>\n    <span flex>Temperature</span>\n    <span flex>Systolic</span>\n    <span flex>Diastolic</span>\n    <span flex>Pulse</span>\n    <span flex>output</span>\n</div>\n<div layout=\"row\" laout.align=\"start center\" ng-repeat=\"health in msg.payload.details\">\n    <span flex style=\"color:green\">{{health.Age}}</span>\n    <span flex style=\"color:red\">{{health.Temperature}}</span>\n    <span flex style=\"color:blue\">{{health.Systolic}}</span>\n    <span flex style=\"color:yellow\">{{health.Diastolic}}</span>\n    <span flex style=\"color:black\">{{health.Pulse}}</span>\n    <span flex style=\"color:brown\">{{health.output}}</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":140,"wires":[[]]},{"id":"3f98021d.5797be","type":"debug","z":"5393f26a.3bc93c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":100,"wires":[]},{"id":"4298170b.dff588","type":"http in","z":"5393f26a.3bc93c","name":"","url":"/userdatahealth","method":"get","upload":false,"swaggerDoc":"","x":270,"y":360,"wires":[["b54e3288.0ec09","eacc79d7.815828","69d3946d.3a0dec"]]},{"id":"b4345992.b4afc8","type":"http response","z":"5393f26a.3bc93c","name":"","statusCode":"","headers":{},"x":670,"y":360,"wires":[]},{"id":"b54e3288.0ec09","type":"function","z":"5393f26a.3bc93c","name":"","func":"msg.payload = {\"Age\": global.get('yrs'),\"temp\": global.get('tmp'),\"Sys\": global.get('sys'),\"Dia\": global.get('dis'),\"Pulse\": global.get('pul'),\"Output\": global.get('output')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["b4345992.b4afc8"]]},{"id":"eacc79d7.815828","type":"ibmiot out","z":"5393f26a.3bc93c","authentication":"apiKey","apiKey":"c41ce9f1.b58b88","outputType":"evt","deviceId":"8788","deviceType":"Asish","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":300,"wires":[]},{"id":"69d3946d.3a0dec","type":"debug","z":"5393f26a.3bc93c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":460,"wires":[]},{"id":"c41ce9f1.b58b88","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fb37d9ac.919728","type":"ui_group","name":"health","tab":"f5a2a38a.937e4","order":1,"disp":true,"width":"25","collapse":false},{"id":"f5a2a38a.937e4","type":"ui_tab","name":"health monitor","icon":"dashboard","disabled":false,"hidden":false}]